
.button1 {
    height: 20px;
    width: 50px;
    display:list-item;
    justify-content: center;
    border-color: black;
    border-style:solid;
    font-size: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #48C9B0;
    color: black;
 }

.button2 {
    background-color: #00FDFF;
    color: black;
    border: 2px solid #008CBA;
    height: 30px;
    width: 60px;
}

.button3 {
  background-color: #00FDFF;
  color: black;
  border: 2px solid #008CBA;
  height: 30px;
  width: 60px;
}

.button4 {
  background-color: #00FDFF;
  color: black;
  border: 2px solid #008CBA;
  height: 30px;
  width: 60px;
}

h2 {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 500 px;
}

h4 {
  padding: 0%;
  text-align: center;
  color: white;
  font-size: 100 px;
}

body {
  background: #1abc9c;
}

.phishing{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  position:absolute;
  top: 13%;
  right: 40%;
}

.center {
  margin: 0%;
  position: absolute;
  bottom : 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h3 {
  text-align: center;
  padding: 80px;
  color: white;
  font-size: 1000 px;
}
  
  