
.button1 {
    height: 20px;
    width: 50px;
    display:list-item;
    justify-content: center;
    border-color: black;
    border-style:solid;
    font-size: 5px;
    border-radius: 5px;
    text-align: center;
 }

.button2 {
    background-color: #00FDFF;
    color: black;
    border: 2px solid #008CBA;

}

.button3 {
  background-color: #00FDFF;
  color: black;
  border: 2px solid #008CBA;
}

.button4 {
  background-color: #00FDFF;
  color: black;
  border: 2px solid #008CBA;
}

h2 {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 500 px;
}

h4 {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 1000 px;
}

body {
  background: #1abc9c;
}


  
  